


#content {
    display: flex;
    justify-content: space-evenly;
}

#card-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    
    border-radius: 25px 0px 25px 25px;
}

/* Card Header */

#card-header {
    user-select: none;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;

    width: 100%;
    height: 45%;
}

#pokemon-number{
    position: absolute;
    top: 10px;
    left: 10px;

    font-size: 25px;
    font-weight: bolder;
    color: white;
}

#pokemon-image{
    position: absolute;
    bottom: 10px;
}

#pokemon-image img{
    height: 110px;
}

#card-header #pokebal-part {
    width: 211px;
    margin-bottom: 7px;
}

#card-header #flags {
    position: absolute;
    width: 40px;
    height: 10px;
    background-color: #363636;

    right: 0;
    top: 0;
}

#card-header .first-flag {
    cursor: pointer;
    display: flex;
    z-index: 4;
    position: absolute;
    width: 40px;

    right: 0;
}

#card-header .second-flag {
    cursor: pointer;
    z-index: 3;
    position: absolute;
    width: 40px;

    right: 0;
    top: 12px;
    transition: 0.5s;
}

#card-header .second-flag:hover {
    top: 27px;
}

#card-header .three-flag {
    z-index: 1;
    cursor: pointer;
    position: absolute;
    width: 40px;

    right: 0;
    top: 24px;
    transition: 0.5s;
}

#card-header .three-flag:hover {
    top: 39px;
}

/* Card Body */

#card-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 55%;

    border-radius: 25px;
}

#card-body #pokemon-name {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 58px;
    width: 100%;

    color: #2c2c2c;
    /* background-color: rgba(250, 235, 215, 0.592); */
}

#card-body #pokemon-stats {
    width: 230px;
    height: 100%;

    /* background-color: #dd1818; */
}

#pokemon-stats .line-stats {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;

    padding: 0 5px;

    width: 100%;
    height: 22px;

    border-radius: 22px;
    transition: transform 0.1s;
}

#pokemon-stats .line-stats:hover {
    transform: scale(1.01);
}

#pokemon-stats .resalt {
    background-color: #ffffff69;
}

#pokemon-stats .name-stats {
    position: absolute;

    left: 10px;
    
    font-size: 10px;
    font-weight: bold;
    color: #363636;
}

#pokemon-stats .stats {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;

    width: 77%;
    height: 100%;
}

#pokemon-stats .stats-number {
    position: absolute;
    width: 100%;
    height: 60%;

    padding-left: 4px;

    border-radius: 13px;
    font-size: 9px;
    color: transparent;
    transition: color 0.5s;
}

#pokemon-stats .stats-number:hover{
    color: #363636;
}