<div id="card-container">
    <div id="card-header">
        <svg id="pokebal-part" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="30.3 38 529.06 250.7">
            <path class="up-part"
                d="M559.45,288.94h-183.8c-6.77-38.5-40.32-67.74-80.7-67.74s-73.94,29.24-80.7,67.74H30.44C37.87,149.1,153.44,38,294.95,38S552.03,149.1,559.45,288.94z" />
        </svg>
        <div id="flags">
            <svg class="first-flag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="41 47 99 115.1">
                <polygon class="flag1" points="41,134 90,162 140,134 140,47 41,47" />
                <!-- os dois 47 são as pontas de cima -->
                <!-- o 134 é o ponto de baixo à esquerda -->
                <!-- o 162 é o ponto de baixo ao centro -->
                <!-- o 134 é o ponto de baixo à direita -->
                <text x="70" y="120" font-family="Arial" font-size="30" fill="white" font-weight ="bold">Nv</text>
                <text x="84" y="150" font-family="Arial" font-size="20" fill="white" font-weight ="bold">1</text>
            </svg>
            <svg class="second-flag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="41 47 99 115.1">
                <polygon class="flag2" points="41,134 90,162 140,134 140,47 41,47" />
                <!-- os dois 47 são as pontas de cima -->
                <!-- o 134 é o ponto de baixo à esquerda -->
                <!-- o 162 é o ponto de baixo ao centro -->
                <!-- o 134 é o ponto de baixo à direita -->
                <text x="70" y="120" font-family="Arial" font-size="30" fill="white" font-weight ="bold">Nv</text>
                <text x="84" y="150" font-family="Arial" font-size="20" fill="white" font-weight ="bold">2</text>
            </svg>
            <svg class="three-flag" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="41 47 99 115.1">
                <polygon class="flag3" points="41,134 90,162 140,134 140,47 41,47" />
                <!-- os dois 47 são as pontas de cima -->
                <!-- o 134 é o ponto de baixo à esquerda -->
                <!-- o 162 é o ponto de baixo ao centro -->
                <!-- o 134 é o ponto de baixo à direita -->
                <text x="70" y="120" font-family="Arial" font-size="30" fill="white" font-weight ="bold">Nv</text>
                <text x="84" y="150" font-family="Arial" font-size="20" fill="white" font-weight ="bold">3</text>
            </svg>
        </div>
    </div>
    <div id="card-body">
        <div id="pokemon-name">
        </div>
        <div id="pokemon-stats">
            <div class="line-stats resalt">
                <p class="name-stats">Attack</p>
                <div class="stats">
                    <p class="stats-number" style="width: 40%;">40</p>
                </div>
            </div>
            <div class="line-stats">
                <p class="name-stats">Defense</p>
                <div class="stats">
                    <p class="stats-number" style="width: 80%;">80</p>
                </div>
            </div>
            <div class="line-stats resalt">
                <p class="name-stats">Speed</p>
                <div class="stats">
                    <p class="stats-number" style="width: 60%;">60</p>
                </div>
            </div>
            <div class="line-stats">
                <p class="name-stats">S.Attack</p>
                <div class="stats">
                    <p class="stats-number" style="width: 30%;">30</p>
                </div>
            </div>
            <div class="line-stats resalt">
                <p class="name-stats">S.Defense</p>
                <div class="stats">
                    <p class="stats-number" style="width: 20%;">20</p>
                </div>
            </div>
        </div>
    </div>
</div>