<div id="content">

    <div id="pokedex-area">
        <app-pokedex></app-pokedex>
    </div>

    <div id="cards-area">
        <app-small-card class="card"></app-small-card>
        <app-loading-card class="card"></app-loading-card>
        <app-more-card class="card"></app-more-card>
        <app-more-card class="card"></app-more-card>
        <app-more-card class="card"></app-more-card>
        <app-more-card class="card"></app-more-card>
        <app-more-card class="card"></app-more-card>
    </div>
</div>