#content {
    position: relative;
    justify-content: end;

    display: flex;
    height: 100vh;
}

#pokedex-area {
    position: fixed;
    display: flex;

    left: 0;
    margin: 1vh 0;

    width: 30%;
    justify-content: space-evenly;
}

#cards-area {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 350px 350px 350px;

    width: 70%;
}

#cards-area .card {
    margin: 1vh;
}

app-small-card{
    display: flex;
}