#content {
    position: relative;
    justify-content: space-between;

    display: flex;
    height: 100vh;
    /* background-image: url("/assets/imgs/background-trees.jpg"); */
    /* background-image: url("/assets/imgs/thumb-1920-662102.png"); */
    /* background-image: url("/assets/imgs/Background-Pokemon-FIX-2-2.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#pokedex-area {
    position: relative;
    justify-content: space-evenly;

    height: 97.5vh;
    min-width: 60vh;

    margin: 1vh 0;

}

#cards-area {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 70%;
}

#cards-area .card {
    width: 300px;
    height: 363px;

    margin: 1vh;
    transition: transform 0.1s, filter 0.5s;
    filter: opacity(80%) blur(1px);
    transform: scale(95%);
}

#cards-area .card:hover{
    transform: scale(100%);
    filter: opacity(100%) blur(0px);
}
