<div id="content">
    <div id="pokedex-area" class="">
        <app-pokedex>

        </app-pokedex>

        <input id="input-number" type="number" style="position: absolute; top: 40px;" min="1" max="649"
        (change)="updatePokemom()">
        <input id="slide-bar" type="range" style="position: absolute; top: 70px; transform: scaleX(-1);" (input)="updatePokeStats()">
        <select name="elements" id="elements" (input)="updateSmallCard()" style="height: 30px; position: absolute;">
            <option value="default">Default</option>
            <option value="normal">Normal</option>
            <option value="grass">Grass</option>
            <option value="fire">Fire</option>
            <option value="water">Water</option>
            <option value="electric">Electric</option>
            <option value="ice">Ice</option>
            <option value="ground">Ground</option>
            <option value="flying">Flying</option>
            <option value="poison">Poison</option>
            <option value="fighting">Fighting</option>
            <option value="psychic">Psychic</option>
            <option value="dark">Dark</option>
            <option value="rock">Rock</option>
            <option value="bug">Bug</option>
            <option value="ghost">Ghost</option>
            <option value="steel">Steel</option>
            <option value="dragon">Dragon</option>
            <option value="fairy">Fairy</option>
        </select>
    </div>

    <div id="cards-area">
<app-small-card PokemonName="Giratina" id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
    [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
</app-small-card>
<app-small-card id="2" PokemonName="Ivysaur" pokeNumber="2" class="card" selectedElement="grass"></app-small-card>
<app-small-card id="3" PokemonName="Venusaur" pokeNumber="3" class="card" selectedElement="        grass"></app-small-card>
<app-small-card id="4" PokemonName="Charmander" pokeNumber="4" class="card" selectedElement="        fire"></app-small-card>
<app-small-card id="5" PokemonName="Charmeleon" pokeNumber="5" class="card" selectedElement="        fire"></app-small-card>
<app-small-card id="6" PokemonName="Charizard" pokeNumber="6" class="card" selectedElement="        fire"></app-small-card>
<app-small-card id="7" PokemonName="Squirtle" pokeNumber="7" class="card" selectedElement="        water"></app-small-card>
<app-small-card id="8" PokemonName="Wartortle" pokeNumber="8" class="card" selectedElement="        water"></app-small-card>
<app-small-card id="9" PokemonName="Blastoise" pokeNumber="9" class="card" selectedElement="        water"></app-small-card>
<app-small-card id="10" PokemonName="Caterpie" pokeNumber="10" class="card" selectedElement="        bug"></app-small-card>
<app-small-card id="11" PokemonName="Metapod" pokeNumber="11" class="card" selectedElement="        bug"></app-small-card>
<app-small-card id="12" PokemonName="Butterfree" pokeNumber="12" class="card" selectedElement="        bug"></app-small-card>
<app-small-card id="13" PokemonName="Weedle" pokeNumber="13" class="card" selectedElement="        bug"></app-small-card>
<app-small-card id="14" PokemonName="Kakuna" pokeNumber="14" class="card" selectedElement="        bug"></app-small-card>
<app-small-card id="15" PokemonName="Beedrill" pokeNumber="15" class="card" selectedElement="        bug"></app-small-card>
<app-small-card id="16" PokemonName="Pidgey" pokeNumber="16" class="card" selectedElement="        normal"></app-small-card>
<app-small-card id="17" PokemonName="Pidgeotto" pokeNumber="17" class="card" selectedElement="        normal"></app-small-card>
<app-small-card id="18" PokemonName="Pidgeot" pokeNumber="18" class="card" selectedElement="        normal"></app-small-card>
<app-small-card id="19" PokemonName="Rattata" pokeNumber="19" class="card" selectedElement="        normal"></app-small-card>
<app-small-card id="20" PokemonName="Raticate" pokeNumber="20" class="card" selectedElement="        normal"></app-small-card>
<app-small-card id="21" PokemonName="Spearow" pokeNumber="21" class="card" selectedElement="        normal"></app-small-card>
<app-small-card id="22" PokemonName="Fearow" pokeNumber="22" class="card" selectedElement="        normal"></app-small-card>
<app-small-card id="23" PokemonName="Ekans" pokeNumber="23" class="card" selectedElement="        poison"></app-small-card>
<app-small-card id="24" PokemonName="Arbok" pokeNumber="24" class="card" selectedElement="        poison"></app-small-card>
<app-small-card id="25" PokemonName="Pikachu" pokeNumber="25" class="card" selectedElement="        electric"></app-small-card>
<app-small-card id="26" PokemonName="Raichu" pokeNumber="26" class="card" selectedElement="        electric"></app-small-card>
<app-small-card id="27" PokemonName="Sandshrew" pokeNumber="27" class="card" selectedElement="        ground"></app-small-card>
<app-small-card id="28" PokemonName="Sandslash" pokeNumber="28" class="card" selectedElement="        ground"></app-small-card>
<app-small-card id="29" PokemonName="Nidoran" pokeNumber="29" class="card" selectedElement="        poison"></app-small-card>
<app-small-card id="30" PokemonName="Nidorin" pokeNumber="30" class="card" selectedElement="        poison"></app-small-card>


        <!-- Ivysaur
    1    Venusaur
    2    Charmander
    3    Charmeleon
    4    Charizard
    5    Squirtle
    6    Wartortle
    7    Blastoise
    8    Caterpie
    9    Metapod
    10   Butterfree
        Weedle
        Kakuna
        Beedrill
        Pidgey
        Pidgeotto
        Pidgeot
        Rattata
        Raticate
        Spearow
        Fearow
        Ekans
        Arbok
        Pikachu
        Raichu
        Sandshrew
        Sandslash
        Nidoran
        Nidorin -->


        <app-loading-card class="card"></app-loading-card>
        <app-more-card class="card"></app-more-card>
    </div>
</div>