<div id="content">
    <div id="pokedex-area">
        <app-pokedex>

        </app-pokedex>

        <input id="input-number" type="number" style="position: absolute; top: 40px;" min="1" max="649"
        (change)="updatePokemom()">
        <input id="slide-bar" type="range" style="position: absolute; top: 70px; transform: scaleX(-1);" (input)="updatePokeStats()">
        <select name="elements" id="elements" (input)="updateSmallCard()" style="height: 30px; position: absolute;">
            <option value="default">Default</option>
            <option value="normal">Normal</option>
            <option value="grass">Grass</option>
            <option value="fire">Fire</option>
            <option value="water">Water</option>
            <option value="electric">Electric</option>
            <option value="ice">Ice</option>
            <option value="ground">Ground</option>
            <option value="flying">Flying</option>
            <option value="poison">Poison</option>
            <option value="fighting">Fighting</option>
            <option value="psychic">Psychic</option>
            <option value="dark">Dark</option>
            <option value="rock">Rock</option>
            <option value="bug">Bug</option>
            <option value="ghost">Ghost</option>
            <option value="steel">Steel</option>
            <option value="dragon">Dragon</option>
            <option value="fairy">Fairy</option>
        </select>
    </div>

    <div id="cards-area">
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="1" class="card" [pokeNumber]="pokeNumber" [selectedElement]="selectedElement"
            [attackStats]="attackStats" defenseStats="60" speedStats="40" sAttackStats="20" sDefenseStats="50">
        </app-small-card>
        <app-small-card id="2" class="card"></app-small-card>
        <app-loading-card class="card"></app-loading-card>
        <app-more-card class="card"></app-more-card>
    </div>
</div>