#pokedex-container {
    display: flex;
    position: fixed;

    max-height: 97.5vh;
    max-width: 60vh;

    width: 100%;
    height: 100%;
}

/* Fold container */

#fold-container {
    position: relative;
    /* width: 40px; */
    width: 9%;
    height: 100%;

    border-radius: 2vh 0 0 2vh;
    background-color: #a0132b;
}

#fold-container .fold-line {
    width: 100%;
    height: 0.6vh;

    background-color: #5f0f1c;
}

#fold-container #line1 {
    position: absolute;
    top: 8vh;
}

#fold-container #line2 {
    position: absolute;
    bottom: 8vh;
}

/* backside container */

#backside-pokedex{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    /* width: 373px; */
    width: 80%;
    height: 100%;

    border-radius: 0 3vh 3vh 0;
    background-color: #be203b;
}

#backside-pokedex #screen-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    width: 80%;
    height: 90%;

    border-radius: 2vh;
    background-color: #262b2a;
    /* background-color: black; */
}

#screen-container #logo-container{
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#logo-container #logo-background{
    position: absolute;
    background-color: #be203b;
    bottom: 0;
    right: 3vh;
    width: 32vh;
    height:6vh;
}

#logo-container #back-logo{
    position: absolute;
    z-index: 1;
    font-weight: 100;
    letter-spacing: 0.5vh;
    font-size: 8vh;
    color: rgba(255, 255, 255, 0.452);
    top: 0.1vh;
    right: 2.3vh;
}

#logo-container #front-logo{
    position: absolute;
    z-index: 2;
    font-weight: 100;
    letter-spacing: 0.5vh;
    font-size: 8vh;
    color: #fff;
}

/* hide container */

#hide-container{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 8%;
    height: 18%;

    margin-top: 2.5vh;
    border-radius: 0 3vh 3vh 0;
    background-color: #a0132b;
}

#hide-container i{
    font-size: 4vh;
    color: #4d4d4d;
}